body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* margin-bottom: 12em; */
    background-attachment: fixed;
    position: relative;
    height: 90vh; /* Ensure the body covers the full viewport height */
    overflow: hidden;
}

/* ------------------------------------------------------------------ */

/* MAIN MENU */
#menu {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 100%;
}

#menu a {
    color: white;
}

#menu a:hover {
    color: #bd4646;
}

/* start game */
#startgamelist {
    margin-bottom: 5.5em;
}

/* ------------------------------------------------------------------ */

/* GAME MODE */
#game-mode {
    display: none;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 20%;
}

#game-container {
    margin-top: 1em;
    display: inline-block; /* Add this line to make the container occupy only the necessary space */
}

#game-container > li {
    margin-bottom: 4em;
} 

#game-container a {
    color: white;
}

#game-container a:hover {
    color: #bd4646;
}

#timelimitedchallenge {
    font-size: 3vw;
}

#time-limited {
    font-size: 1.5rem;
}

canvas {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

#gameCanvas {
    display: none;
    background-color: white;
    height: 100%;
    width: 50%;
}

#gameOption {
    display: none;
    background-color: white;
    margin: 0;
    height: 100%;
}

#score {
    display: none;
    padding-right: 5%;
}

#pause-menu {
    position: fixed;
    display: none;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* ------------------------------------------------------------------ */


/* OPTIONS */
#option {
    display: none;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 3em; /* Add this line to create space below the options section */
    position: relative; /* Change the position property to relative */
}

#snake-color {
    margin-top: 2em; /* Add this line to create space above the color box */
    position: relative; /* Change the position property to relative */
  }

#color-box > h3 {
    font-size: 2vw;
}

#snake-color>li {
    font-size: 2vw;
}

#snake-color h3 {
    margin-bottom: 0.5em;
  }

.color {
    display: inline-block;
    width: 10vh;
    height: 5vw;
    margin: 1%;
    cursor: pointer;
    background-color: transparent;
}

#rangeValue {
    font-size: 1vw;
}

#speed-slider {
    width: 10vw;
    max-height: 1vh;
    min-height: 1vh;
}

/* ------------------------------------------------------------------ */

h1 {
    font-size: 4vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

a {
    text-decoration: none;
    color: black;
    font-size: 3vw;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

a:hover {
    color: #bd4646;
}

h2 {
    font-size: 2vw;
}

